<h2>Login to Finstagram</h2>

<%= @error_message if @error_message %>

<form method="POST" acion="/login">
   <div class="form-group">
       <label for="username">Username</label>
       <input type="text" id="username" name="username"></input>
    </div>
    <div class="form-group">   
       <label for="password">Password</label>
       <input type="text" id="password" name="password"></input>
   </div>
   <div class="form-group">
       <button class="button" type="submit">Login</button>
    </div>

</form>